<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <header></header>

    <main>
        
        <!-- Container app -->
        <div class="container-app" id="root">
            
            <!-- Sezione lista dei contatti -->
            <div class="container-list-contact">

                    <!-- Box user -->
                    <div class="box-user">

                        <!-- Nome utente -->
                        <div class="box-nome">

                            <img class="avatar-io" src="img/avatar_io.jpg" alt="">
                            <span class="nome-utente">Nome Utente</span>

                        </div>
                        <!-- Nome utente -->

                        <!-- Box opzioni utente -->
                        <div class="box-option-user">

                            <i class="option-user fa-solid fa-circle-notch"></i>
                            <i class="option-user fa-solid fa-message"></i>
                            <i class="option-user fa-solid fa-ellipsis-vertical"></i>

                        </div>
                        <!-- Box opzioni utente -->

                    </div>
                    <!-- Box user -->

                    <!-- Box notifiche desktop -->
                    <div class="box-desktop">

                        <div class="circle-bell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>

                        <div class="box-text-notifiche">
                            <span class="text-notifiche">Ricevi notifiche di nuovi messaggi</span>
                            <a class="link-notifiche" href="#">Attiva notifiche desktop</a>
                        </div>

                    </div>
                    <!-- Box notifiche desktop -->

                    <!-- Box contatti -->
                    <div class="box-contact">

                        <!-- Box ricerca contatti -->
                        <div class="box-search-contact">

                            <div class="search">
                                <i class="search-glass fa-solid fa-magnifying-glass"></i>
                                <input type="text" id="search-contact" placeholder="Crea o inizia una nuova chat">
                            </div>
            
                        </div>
                        <!-- Box ricerca contatti -->

                        <!-- Box lista -->
                        <div class="box-list">

                            <div class="box-option-contact" v-for="(contact, index) in contacts" @click="setContactActive(index)">
                                <img class="img-list" :src=" `img/avatar${contact.avatar}.jpg` " alt="">
                                <div class="name-contact">
                                    <span class="name">{{contact.name}}</span>
                                    <span class="mess-preview">{{contact.messages[contact.messages.length -1] .text.slice(0,13) + '...'}}</span>
                                    <span class="data">{{contact.messages[contact.messages.length -1].date}}</span>
                                </div>
                            </div>                        

                        </div>
                        <!-- Box lista -->

                    </div>
                    <!-- Box contatti -->

            </div>
            <!-- Sezione lista dei contatti -->

            <!-- Sezione chat -->
            <div class="container-chat">

                <!-- Box chat corrente -->
                <div class="current-chat">

                    <!-- Nome utente -->
                    <div class="box-nome">

                        <img class="avatar-io" :src="`img/avatar${contacts[active].avatar}.jpg`" alt="">
                        <div class="name-chat">
                            <span class="nome-utente">{{contacts[active].name}}</span>
                            <span class="ultimo-accesso">Ultimo accesso oggi  10/01/2020 </span>
                            <span class="ultimo-accesso">Alle 16:15:22</span>
                        </div>

                    </div>
                    <!-- Nome utente -->

                    <!-- Box opzioni utente -->
                    <div class="box-option-user">

                        <i class="option-user fa-solid fa-magnifying-glass"></i>
                        <i class="option-user fa-solid fa-paperclip"></i>
                        <i class="option-user fa-solid fa-ellipsis-vertical"></i>

                    </div>
                    <!-- Box opzioni utente -->

                </div>
                <!-- Box chat corrente -->

                <!-- Box chat -->
                <div class="box-chat">

                    <div class="messages">

                        <div class="user-message clearfix">
                            <div class="box-message" :class="(message.status=='sent') ? 'sent' : 'recived'" v-for="(message,index) in contacts[active].messages">
                                <span class="text-message">{{message.text}}</span>
                                <span class="data-message-1">{{message.date}}</span>
                            </div>
                        </div>

                    </div>
                        
                </div>
                <!-- Box chat -->

                <!-- Box text -->
                <div class="box-text">

                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" id="user-write" placeholder="Scrivi un messaggio" v-model="newText" @keyup.enter="newMessage()">
                    <i class="fa-solid fa-microphone"></i>

                </div>
                <!-- Box text -->

            </div>
            <!-- Sezione chat -->

        </div>
        <!-- Container app -->

    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
</body>
</html>