* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #DBDCD4;
}

header {
    height: 100px;
    background-color: #1C9688;
}

main {
    display: flex;
    justify-content: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container-app {
    min-width: 1050px;
    height: 570px;
    position: absolute; 
    top: 20px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

/* Sezione lista contatti */
.container-list-contact {
    width: 35%;
    height: 100%;
    border: 1px solid #D6D6D6;
}

/* Box user */
.box-user {
    height: 65px;
    padding-left: 10px;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-nome {
    display: flex;
    align-items: center;
}

.avatar-io {
    width: 50px;
    border-radius: 50%;
}

.nome-utente {
    padding-left: 10px;
    font-weight: 550;
}

.box-option-user {
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
}

.option-user {
    font-size: 22px;
    padding: 0px 12px;
    color: #B1B1B1;
}
/* Box user */

/* Box notifiche desktop */
.box-desktop {
    height: 70px;
    background-color: #8EDAFD;
    display: flex;
    align-items: center;
}

.circle-bell {
    width: 50px;
    height: 50px;
    background-color: #F2FCFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 15px;
}

.fa-bell-slash {
    font-size: 19px;
    color: #8EDAFD;
}

.box-text-notifiche {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.text-notifiche {
    font-size: 16px;
    font-weight: 600;
}

.link-notifiche {
    color: #4E7385;
    font-size: 14px;
}
/* Box notifiche desktop */

/* Box contatti */
.box-contact {
    width: 100%;
    height: 430px;
    background-color: #FAFAFA;
}

.box-search-contact {
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
}

.search {
    height: 38px;
    width: 90%;
    background-color: #FFF;
    border: 2px solid #F5F5F5;
    display: flex;
    align-items: center;
}

.search-glass {
    font-size: 20px;
    color: #B1B1B1;
    margin-left: 10px;
    cursor: pointer;
}

#search-contact {
    height: 100%;
    width: 95%;
    padding-left: 10px;
    margin-left: 15px;
    border: 0px;
}

#search-contact:focus {
    outline: 1px solid #F5F5F5;
}

.box-list {
    height: 375px;
    width: 95%;
    background-color: #FFF;
}

.box-option-contact {
    height: 80px;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.box-option-contact:hover {
    background-color: #EAEBEB;
}

.img-list {
    width: 60px;
    border-radius: 50%;
    margin-left: 25px;
}

.name-contact {
    margin-top: 10px;
    margin-left: 20px;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.name {
    font-size: 18px;
    font-weight: 500;
}

.mess-preview {
    margin-top: 4px;
    color: #B6B9BB;
    font-size: 12px;
}

.data {
    color: #B6B9BB;
    font-size: 12px;
    position: absolute;
    top: 0px;
    right: 15px;
}

.select {
    background-color: #EAEBEB;
}
/* Box contatti */

/* Sezione lista contatti */

/* Sezione chat */
.container-chat {
    width: 65%;
    height: 100%;
    border: 1px solid #D6D6D6;
}

/* Box chat corrente */
.current-chat {
    height: 65px;
    padding-left: 10px;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-chat {
    display: flex;
    flex-direction: column;
}

.ultimo-accesso {
    margin-left: 10px;
    font-size: 12px;
    color: #6A7376;
}
/* Box chat corrente */

/* Box chat */
.box-chat {
    width: 100%;
    height: 440px;
    background-image: url(img/mine.jpg);
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.messages {
    margin-top: 20px;
    height: 95%;
    width: 80%;
    
}

.user-message {
    min-width: 40%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sent {
    min-width: 30%;
    max-width: 50%;
    padding: 18px 10px;
    background-color: #D6F9BA;
    border-radius: 10px;
    line-height: 22px;
    float: right;
    margin-top: 10px;
    font-size: 15px;
    position: relative;
}

.recived {
    min-width: 30%;
    max-width: 50%;
    padding: 18px 10px;
    background-color: #fff;
    border-radius: 10px;
    line-height: 22px;
    float: left;
    margin-top: 10px;
    font-size: 15px;
    position: relative;
    align-self: flex-start;
}

.data-message-1 {
    color: #B6B9BB;
    font-size: 11px;
    position: absolute;
    bottom: 0px;
    right: 7px;
}

.box-message {
    
}
/* Box chat */

/* Box text */
.box-text {
    width: 100%;
    height: 60px;
    background-color: #F4EEEA;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#user-write {
    width: 88%;
    padding: 14px 15px;
    margin: 0px 15px;
    border-radius: 10px;
    border: 0px;
}

#user-write:focus {
    outline: 0px;
}

.fa-face-smile {
    font-size: 20px;
    margin-left: 15px;
}

.fa-microphone {
    font-size: 20px;
    margin-right: 15px;
}
/* Box text */

/* Sezione chat */